/*Fonts imported from Google Webfont API*/
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*Container for the header with graident behind logo for better visual appeal*/
div.header {
	width: 100%; 
	height: 135px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(20, 12, 8, .65));
}

div.headerwrapper {
	width: 90%;
	height: 140px;
	margin: 0 auto;
}

div.logowrapper {
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 33%;
	height: 120px;
	float: left;
}

/*Logo height/width settings*/
#logo{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: auto;
	max-width: 310px;
	height: auto;
	float:left;
}

/*DIV class for MENU link container*/
div.menucontainer{
	width: 67%;
	height: 70px;
	margin-top: 34.5px; 
	margin-bottom: 15px;
	float:left;
	font-family: 'Oswald', sans-serif;
}

/*DIV wrapper for better alignmen of menu links*/
div.menuwrapper {
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 85%;
	height: 70px;
  	margin-left: auto; 
	margin-right: auto;
  }

/*DIV class for each link*/
div.link {
	margin-top: 5px;
	float: left;
/*	width: 25%;*/
	width: 50%;
	text-align: center;
}

.menulinks {
	width: 45px;
}

div.menulinktext {
	margin-top: -6px;
	font-size: 85%;
}

div.headerboxdesign{
	border-color: #404040; 
	border-width: 3px; 
	border-style: solid;
	border-radius: 15px;
	background: radial-gradient(circle, rgb(241, 213, 159) 30%, rgb(255, 231, 175) 54%, rgb(255, 228, 171) 57%, rgb(243, 220, 169) 86%, rgb(222, 200, 155) 100%);
}


/*Special style settings for smaller screens*/
@media only screen and (max-width: 768px) {
	div.header {
		width: 100%; 
		margin-left: auto; 
		margin-right: auto;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(20, 12, 8, .65));
	}
	div.headerwrapper {
		height:200px;
		margin: 0 auto;
	}
	div.logowrapper {
		width: 331.5px;
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
	#logo{
		width: 100%;
		height: auto;
		float: none;
	}
	div.menuwrapper {
		width: 100%;
	}


	div.menucontainer{
		width: 331.5px;
		height: 70px;
		margin-top: 15px; 
		margin-left: auto; 
		margin-right: auto;
		float: none;

	}
}

#orderslink {
}