
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: black;
	background-image: url('../img/core/background.jpg');
	font-family: 'Oswald', sans-serif;
}
div.inventorycontainer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.additemcontainer {
	background-color: #C19972;
	padding: 16px;
	border: 3px solid gray;
	position: center;
	margin-left: auto;
	margin-right: auto;
    top: 50%;
    width: 50%;
}

input[type=text],  input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
}

input:placeholder-shown {
	font-style: italic;
}

.addbutton {
  border-radius: 0.25em;
  background: linear-gradient(to bottom, #d3d3d3 0%, #808080 100%); width: 100%;
  margin: auto;
  color: white;
  padding: 14px 20px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-right: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}
.btn {
    background-color: #C19972;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.itembtn {
	background-image: url('../img/inventory/necklace.png');
	background-size: 100% 100%;
    border: #ccc;
    color: transparent;
    width: 200px;
    height: 200px;
    padding: 12px 16px;
    text-align: bottom;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.modal {
	border: none;
  animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
	padding: 2px 16px;
	background-color: gray;
	color: white;
}

.modal-body {
  background-color: #C19972;  
}

.modal-footer {
	padding: 2px 16px;
	background-color: gray;
	color: white;
	float: bottom;
}


/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.emptyInventory {
		width: 100%;
		margin-bottom: 50px;
}
/*Special style settings for smaller screens*/
@media only screen and (max-width: 768px) {
	div.inventorycontainer {
		padding-top: 75px;
		width: 412px;
	}
	.emptyInventory {
		width: 412px;
	}
}