

html,
body{
	text-align: center;
    background-image: url('../img/core/background.jpg');
    height: 100%;
}


.error-container { 
    background: linear-gradient(to bottom, #cc0000 0%, #990000 100%);
    opacity: 0.9;
    padding: 16px;
    /*border: 3px solid #ff5050;*/
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    top: 50%;
    width: 50%;
    border-radius: 0.25em;
}

.errormsg {
    color: white;
    /*text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;*/
}

.login-container {
	/*background-color: #C19972;*/
    background: linear-gradient(to bottom, #ffcc99 0%, #c19972 100%);
	padding: 16px;
	border: 3px solid gray;
	position: center;
	margin-left: auto;
	margin-right: auto;
    top: 50%;
    width: 50%;
    border-radius: 0.25em;
   }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
}

input:placeholder-shown {
	font-style: italic;
}

button {
    background: linear-gradient(to bottom, #d3d3d3 0%, #808080 100%);
    color: white;
    padding: 14px 20px;
    margin: 16px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
}

button:hover {
	opacity: 0.8;
}