/*Fonts imported from Google Webfont API*/
@import url('https://fonts.googleapis.com/css?family=Oswald');


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background-image: url('../img/core/background.jpg');
  font-family: 'Oswald', sans-serif;
}
/*Container for the header with graident behind logo for better visual appeal*/
div.header {
	width: 100%; 
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(20, 12, 8, .65));
}

/*Logo height/width settings*/
#logo{
	padding-left: 20px;
	width: 25%;
	min-width: 262px;
	height: auto;
}

/*DIV class for point of sale container*/
div.poscontainer {
	width: 90%; 
	margin-bottom: 10px; 
	margin:auto;
}

/*DIV class for MENU link container*/
div.menucontainer{
	min-width: 331.5px; 
	height: 40px; 
	margin-bottom: 10px; 
	margin-left: auto; 
	margin-right: auto;
}

/*DIV wrapper for better alignmen of menu links*/
#menuwrapper {
  	min-width: 331.5px; 
  	text-align: center;
  	vertical-align: middle;
  	line-height: 40px;
  	margin-left: auto; 
	margin-right: auto;
  }

/*DIV class for each link*/
div.link {
	float: left;
	width: 150px;
	text-align: center;
}

/*DIV class for container holding the numpad and/or other divs in this section*/
div.selectioncontainer {
	width: 49%;
	float: left;
}

/*DIV container for the num pad*/
div.numberpadcontainer {
	width: 100%;
	height: 438px;
	min-width: 337.5px;
	margin-bottom: 25px;
	margin-top: 25px;
}

/*DIV Wrapper for the input box displaying the SKU*/
div.numdisplaywrap { 
	width: 331.5px;
	height: 57px;
	position: relative;
	margin-bottom: 10px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-left: auto;
	margin-right: auto;

}

/*numberpad display error div*/
#npderror {
	display: none;
	background-color:rgba(255, 0, 0, 0.75);
	vertical-align: center;
	line-height: 57px;
	font-size: 175%;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	z-index: 2;
	color:white;
}

/*DIV class for outter box design*/
div.boxdesign{
	border-color: #404040; 
	border-width: 3px; 
	border-style: solid;
	background-color: #cfb887;
	border-radius: 4px;
}

/*Numberpad Toolbox wrapper*/
div.nptbwrap {
	width: 337.5px;
	margin: auto;
}

/*ID for the numberpad display container*/
#numberpaddisplay {
	width: 98%;
	text-align: center;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 140%;
	font-family: 'Oswald', sans-serif;
}

/*DIV for backspace container*/
div.bscontainer {
	position: absolute;
	width: 30px;
	height: 23.75px;
	top: 16.625px;
	right: 10px;
	z-index: 1;
}

/*Backspace IMG ID tag*/
#bsimg {
	width: 100%;
	height: 100%;
}

/*DELETE ID tag*/
#del {
	color: #cc0000;
	font-size: 150%;
}

/*Enter ID tag*/
#enter {
	color: #009933;
	font-size: 150%;
}

/*Special effects for hover*/
#del:hover, #enter:hover {
	color:grey;
}

/*DIV for numberpad*/
div.numberpad {
	padding: 10px;
    width: 254px;
    float: left;
    font-family: 'Oswald', sans-serif;
	font-size: 150%;
}

/*DIV for button container for each button in number pad*/
div.buttoncontainer {
    line-height: 75px;
	text-align: center;
	vertical-align: middle;
	margin: 2px;
	width: 75px;
	height: 75px;
	float: left;
	border-width: 1px; 
	border-radius: 40px;
	border-style: solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor:default; 
	color: #404040;
}

/*Special effects for hover for toolbox and buttoncontainer*/
div.toolbuttoncontainer:hover, div.buttoncontainer:hover {
	box-shadow: 0 4px 8px 0 rgba(54, 81, 94, 0.2), 0 6px 20px 0 rgba(54, 81, 94, 0.19);
	color: grey;
}

/*Special effects for active for toolbox and buttoncontainer*/
.active, div.toolbuttoncontainer:active, div.buttoncontainer:active {
	background-color: #77653f;
	border-color: #000000;
	box-shadow: none;
}

/*Numberpad row style settings*/
div.nprow {
	width: 100%;
	height: 80px;
	margin: 5px;
}

/*DIV for tool box*/
div.toolbox {
	width: 46.5px;
	margin-left: 5px;
	float: left;
}

/*tool button container for each button in the tool box*/
div.toolbuttoncontainer {
	width: 40.5px;
	height: 40.5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 40.5px;
	border-color: #404040; 
	border-width: 1px; 
	border-style: solid;
	border-radius: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: default; 
}

/*DIV for tool button label*/
div.tblabel{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

/*Container for the dynamix receipt*/
div.dynamicreceiptcontainer {
	width: 49%;
	height: 50px;
	float:right;
	margin-bottom: 25px;
    margin-top: 25px;
}

/*div for dynamic receipt wrapper*/
div.dynamicreceiptwrap {
	max-width: 450px;
	min-width: 331.5px; 
	height: 438px;
	margin: auto;
}

/*div for each dynamic receipt label*/
div.drlabel {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 2px;
}

/*DIV for labels for each item in row in receipt container*/
div.itemrowlabels {
	width: 90%;
	margin-left: 10px;
	margin-top: -10px;
}

/*Container for the receipt to which item rows will be inserted*/
div.ledger {
	width: 95%;
	height: 365px;
	background-color: white;
	margin:auto;
	overflow-y: scroll;
}

/*DIV class to float labels left*/
div.labelleft {
	float: left;
}

/*SKU container*/
div.SKU {
	width: 15%;
	text-align: center;
}

/*Quantity container*/
div.qty {
	width: 10%;
	text-align: center;
}

/*Product name container*/
div.name{
	width: 50%;
	margin-left: 10px;
}

/*Price div container in receipt*/
div.price{
	width: 20%;
	text-align: right;
	float: right;
}

/*Special style settings for smaller screens*/
@media only screen and (max-width: 768px) {
	div.poscontainer {
		width: 331.5px; 
		margin-bottom: 10px; 
		margin:auto;
	}
	div.header {
		width: 262px; 
		margin-left: auto; 
		margin-right: auto;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(20, 12, 8, .65));
	}
	#logo{
		width: 25%;
		min-width: 262px;
		height: auto;
	}
	div.itemcontainer {
		float: none;
	}
	div.dynamicreceiptcontainer {
		width: 100%;
		height: 444px;
		float: left;
		margin-bottom: 25px;
	}
}
