@import url('https://fonts.googleapis.com/css?family=Titan+One');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  font-size: x-large;
}

div.header {
	width: auto; 
	margin-left: 20px; 
	margin-right: auto;
	text-align: left;
}

div.link {
	float: left;
	width: 150px;
	text-align: center;
}

div.menucontainer{
	width: 90%;
	min-width: 350px; 
	max-width: 650px;
	height: 40px; 
	margin-bottom: 10px; 
	background-color: white; 
	margin-left: auto; 
	margin-right: auto;

}

#menuwrapper {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 90%
  	text-algin: center;
  	margin-top: 3px;
  }

#numdisplaycontainer {
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 50%;
	height: 50px;
	min-width: 350px;
	margin-bottom: 25px;
	margin-top: 25px;
}

div.numcontainer {
	width: 50%;
	float: left;
}

div.numdisplaywrap { 
	width: 350px;
	height: 57px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#numberpaddisplay {
	width: 90%;
	text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

div.numberpadcontainer {
	width: 50%;
}

div.numberpad {
	width: 30%;
	margin: auto;
	min-width: 350px;
	padding: 10px;
	
}

#borderme {
	border-color: #5A5A5A; 
	border-radius: 7px;
	border-width: 1px; 
	border-style: solid;
	box-shadow: -3px 3px 3px #8e8e8e; 
}

div.buttoncontainer {
	display: flex;
  	justify-content: center;
  	align-items: center; 
	margin-left: 2px;
	margin-right: 2px;
	width: 75px;
	height: 75px;
	float: left;
	overflow: hidden;
	font-size: 90%;
	padding: 5px;
	border-width: 1px; 
	border-style: solid; 

}

div.nprow {
	width: 100%;
	height: 80px;
	overflow: hidden;
	padding: 5px;
}
div.buttons{
	margin: auto;
    width: 35px;
    text-align: center;
}


.logo {
    color: #3f8e02;
    font-family: 'Titan One', cursive;
    font-size: larger;
    text-align: center; 
}

.logo a:link {
	text-decoration: none;
	color: #000000;
}

.logo a:visited {
	text-decoration: none;
	color: #000000;
}

.logo a:active {
	text-decoration: none;
	color: #000000;
}

.logo a:hover {
	text-decoration: none;
	color: #000000;
}

div.poscontainer {
	width: 90%; 
	height: 100%%; 
	margin-bottom: 10px; 
	background-color: white; 
	margin:auto;
}

div.footer{
	text-align: center;
	margin-left: 45px;
	margin-bottom: 10px;
}

.flex-container{
	display: flex;
	flex-wrap: nowrap;
}
				
* {
	box-sizing: border-box;
}

#myInput {
	width: 100%;
	font-size: 14px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #ddd;
	margin-bottom: 8px;
}

#myTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 16px;
}

#myTable th, #myTable td {
	text-align: left;
	padding: 8px;
}

#myTable tr {
	border-bottom: 1px solid #ddd;
}

.logo {
	text-align: center;
}

.login-container {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

div.dynamicreceipt {
	width:50%;
	height: 500px;
	float: right;
}

div.invdisplay {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	div.dynamicreceipt {
		width: 100%;
		height: 500px;
	}

	div.invdisplay {
		width: 60%;
	}
}
