/*Container for the dynamix receipt*/
div.dynamicreceiptcontainer {
	width: 49%;
	height: 50px;
	float:right;
	margin-bottom: 25px;
    margin-top: 25px;
}

/*div for dynamic receipt wrapper*/
div.dynamicreceiptwrap {
	max-width: 450px;
	min-width: 331.5px; 
	height: 438px;
	margin: auto;
}

/*div for each dynamic receipt label*/
div.drlabel {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 2px;
}

/*DIV for labels for each item in row in receipt container*/
div.itemrowlabels {
	width: 90%;
	margin-left: 10px;
	margin-top: -10px;
}

/*Container for the receipt to which item rows will be inserted*/
div.ledger {
	width: 95%;
	height: 365px;
	background-color: white;
	margin:auto;
	overflow-y: scroll;
}

/*DIV class to float labels left*/
div.labelleft {
	float: left;
}

/*SKU container*/
div.SKU {
	width: 15%;
	text-align: center;
}

/*Quantity container*/
div.qty {
	width: 10%;
	text-align: center;
}

/*Product name container*/
div.name{
	width: 50%;
	margin-left: 10px;
}

/*Price div container in receipt*/
div.price{
	width: 20%;
	text-align: right;
	float: right;
}